# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
.vscode/settings.json
MDK/LQ_STM32F1_Demo.uvguix.15926
MDK/LQ_STM32F1_Demo.uvoptx
OBJ/ano_dt.crf
OBJ/ano_dt.o
OBJ/car_main.crf
OBJ/car_main.o
OBJ/delay.o
OBJ/lq_adc.crf
OBJ/lq_adc.o
OBJ/lq_demo_dmp.crf
OBJ/lq_demo_dmp.o
OBJ/lq_encoder.crf
OBJ/lq_encoder.o
OBJ/lq_exti.crf
OBJ/lq_exti.o
OBJ/lq_hcsr04.crf
OBJ/lq_hcsr04.o
OBJ/lq_iic_gyro.crf
OBJ/lq_iic_gyro.o
OBJ/lq_key.crf
OBJ/lq_key.o
OBJ/lq_led.crf
OBJ/lq_led.o
OBJ/lq_motor.crf
OBJ/lq_motor.o
OBJ/lq_oled096.crf
OBJ/lq_oled096.o
OBJ/lq_photoelectric.crf
OBJ/lq_photoelectric.o
OBJ/lq_pid.o
OBJ/lq_softi2c.crf
OBJ/lq_softi2c.o
OBJ/lq_softspi.crf
OBJ/lq_softspi.o
OBJ/LQ_STM32F1_Demo_LQ_32F1_AIO_LIB.dep
OBJ/lq_tim.crf
OBJ/lq_tim.o
OBJ/lq_usart.crf
OBJ/lq_usart.o
OBJ/main.crf
OBJ/main.o
OBJ/stm32f1xx_hal_adc_ex.o
OBJ/stm32f1xx_hal_adc.o
OBJ/stm32f1xx_hal_can.o
OBJ/stm32f1xx_hal_cec.o
OBJ/stm32f1xx_hal_cortex.o
OBJ/stm32f1xx_hal_crc.o
OBJ/stm32f1xx_hal_dac_ex.o
OBJ/stm32f1xx_hal_dac.o
OBJ/stm32f1xx_hal_dma.o
OBJ/stm32f1xx_hal_eth.o
OBJ/stm32f1xx_hal_exti.o
OBJ/stm32f1xx_hal_flash_ex.o
OBJ/stm32f1xx_hal_flash.o
OBJ/stm32f1xx_hal_gpio_ex.o
OBJ/stm32f1xx_hal_gpio.o
OBJ/stm32f1xx_hal_hcd.o
OBJ/stm32f1xx_hal_i2c.o
OBJ/stm32f1xx_hal_i2s.o
OBJ/stm32f1xx_hal_irda.o
OBJ/stm32f1xx_hal_iwdg.o
OBJ/stm32f1xx_hal_mmc.o
OBJ/stm32f1xx_hal_msp.o
OBJ/stm32f1xx_hal_nand.o
OBJ/stm32f1xx_hal_nor.o
OBJ/stm32f1xx_hal_pccard.o
OBJ/stm32f1xx_hal_pcd_ex.o
OBJ/stm32f1xx_hal_pcd.o
OBJ/stm32f1xx_hal_pwr.o
OBJ/stm32f1xx_hal_rcc_ex.o
OBJ/stm32f1xx_hal_rcc.o
OBJ/stm32f1xx_hal_rtc_ex.o
OBJ/stm32f1xx_hal_rtc.o
OBJ/stm32f1xx_hal_sd.o
OBJ/stm32f1xx_hal_smartcard.o
OBJ/stm32f1xx_hal_spi.o
OBJ/stm32f1xx_hal_sram.o
OBJ/stm32f1xx_hal_tim_ex.o
OBJ/stm32f1xx_hal_tim.o
OBJ/stm32f1xx_hal_uart.o
OBJ/stm32f1xx_hal_usart.o
OBJ/stm32f1xx_hal_wwdg.o
OBJ/stm32f1xx_hal.o
OBJ/stm32f1xx_it.crf
OBJ/stm32f1xx_it.o
OBJ/stm32f1xx_ll_adc.o
OBJ/stm32f1xx_ll_crc.o
OBJ/stm32f1xx_ll_dac.o
OBJ/stm32f1xx_ll_dma.o
OBJ/stm32f1xx_ll_exti.o
OBJ/stm32f1xx_ll_fsmc.o
OBJ/stm32f1xx_ll_gpio.o
OBJ/stm32f1xx_ll_i2c.o
OBJ/stm32f1xx_ll_pwr.o
OBJ/stm32f1xx_ll_rcc.o
OBJ/stm32f1xx_ll_rtc.o
OBJ/stm32f1xx_ll_sdmmc.o
OBJ/stm32f1xx_ll_spi.o
OBJ/stm32f1xx_ll_tim.o
OBJ/stm32f1xx_ll_usart.o
OBJ/stm32f1xx_ll_usb.o
OBJ/stm32f1xx_ll_utils.o
OBJ/sys.o
OBJ/system_stm32f1xx.o
OBJ/USART.axf
OBJ/USART.build_log.htm
OBJ/USART.hex
OBJ/USART.htm
OBJ/USART.map
.vscode/settings.json
